html {
  font-size: 10px;
  font-family: 'Open Sans', cursive;
  background-color: #121212;
}

body {
  width: 600px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #121212;
  padding: 0 20px 20px 20px;
  /*border: 5px solid black;*/
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

a {
  color: #57A6FF;
}

img {
  display: block;
  margin: 0 auto;
  width: 256px;
}