<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="description" content="@description" />
	<base href="@base_url">
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    @contents
    <div class="footer">
        Acknowledgments: <a href="https://github.com/vssio" target="_blank">VSS</a>,
        GitHub repository: <a href="https://github.com/zztkm/darts.tsurutatakumi.info" target="_blank">darts.tsurutatakumi.infp repo</a></br>
        Hosted by: <a href="https://pages.cloudflare.com/" target="_blank">Cloudflare Pages</a></br>
    </div>
</body>
