<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="description" content="@description" />
	<base href="@base_url">
	<!-- SNS LINK PREVIEW METADATA OGP -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Be a good darts player" />
	<meta property="og:description" content="ダーツ練習の記録" />
	<meta property="og:url" content="https://darts.tsurutatakumi.info/" />
	<meta property="og:image" content="https://darts.tsurutatakumi.info/img/zztkm-icon.png" />
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    @contents
    <div class="footer">
        Acknowledgments: <a href="https://github.com/vssio" target="_blank">VSS</a>,
        GitHub repository: <a href="https://github.com/zztkm/darts.tsurutatakumi.info" target="_blank">darts.tsurutatakumi.infp repo</a></br>
        Hosted by: <a href="https://pages.cloudflare.com/" target="_blank">Cloudflare Pages</a></br>
    </div>
</body>
